.verse {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 90%;
  max-width: 500px;
  p {
    font-family: "Noto Sans", sans-serif;
    font-size: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
  }
}
