@mixin celestial {
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0 3px 0px rgba(0, 0, 0);
  text-align: center;
}
@mixin paragraph {
  font-family: "Noto Sans", sans-serif;
  font-size: 2.4rem;
  line-height: 3rem;
  text-align: center;
}

@mixin background {
  background: linear-gradient(
    180deg,
    rgba(117, 248, 210, 1) 0%,
    rgba(96, 150, 219, 1) 50%,
    rgba(42, 227, 252, 1) 100%
  );
}
