@import "vars";
@import "mixins";

@font-face {
  font-family: "Noto Sans";
  src: url("../../assets/fonts/NotoSans-Regular.ttf");
}
@font-face {
  font-family: "Haettenschweiler";
  src: url("../../assets/fonts/haettenschweiler.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Haettenschweiler", "Arial Narrow", Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    180deg,
    rgba(117, 248, 210, 1) 0%,
    rgba(96, 150, 219, 1) 50%,
    rgba(42, 227, 252, 1) 100%
  );
}
.back {
  position: fixed;
  top: 0;
  left: 10px;
  width: 55px;
  transform: rotate(180deg);
  filter: drop-shadow(0px 3px 1px rgb(255, 255, 255));
  transition: 0.5s;
  img:hover {
    filter: drop-shadow(0px -3px 1px rgb(255, 255, 255));
  }
}
.back:hover {
  filter: drop-shadow(0px -3px 1px rgb(255, 255, 255));
}
