@import "vars";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: white;
  font-family: "Haettenschweiler", "Arial Narrow", Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    180deg,
    rgba(117, 248, 210, 1) 0%,
    rgba(96, 150, 219, 1) 50%,
    rgba(42, 227, 252, 1) 100%
  );
}
