.Colabora-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Payment-button{
    margin-top: 10px;
    width: 90%;
    div {
          display: flex;
          align-items: center;
          justify-content: center;
          align-content: center;
    }
  }

  p{
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Noto Sans",
    sans-serif;
    font-size: 2.4rem;
    line-height: 3rem;
  }

  form {
    input{
      height: 30px;
      font-family: "Noto Sans",
      sans-serif;
      font-size: 2.4rem;
      line-height: 3rem;
      color: black;
    }
  }
}